.card{
    background: var(--bgCard);
    border-radius: 28px;
    margin-top: 24px;
    text-align: center;
   

   
}

.card img{
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
}

.is-last{
    margin-bottom: 84px;
}

.is-frame iframe{
    height: 199.8px;
   
    display: block;
    margin: auto;
    border-radius: 28px;
    margin-top: 24px;
    
}
/*
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/