@import "./header.css";
@import "./wrapper.css";
@import "./buttons.css";
@import "./cards.css";

:root{
    --fontBase: 'Poppins', sans-serif;
    --bodyText: 16px/14px var(--fontBase);
    --descriptionText: 12px/18px var(--fontBase);
    --headLine1: bold 54px/68px var(--fontBase);
    --headLine2: bold 34px/52px var(--fontBase);      
    --headLine3: bold 24px/18px var(--fontBase);
    --bgBody: #EEE5E9;
    --bgCard: #CEBBC9;
    --header: #2B3A67;
    --buttonsColor: #7EE081;
    --buttonCallActive: #00ff55;
    --headerActive: #E84855;
    --withe: #ffffff;
    --buttonText: bold 14px/22px  var(--fontBase);
    }

a{
    text-decoration: none;
}

h1{
    font: var(--headLine1);
}
h2{
    font: var(--headLine2);
}
h3{
    font: var(--headLine3);
}

body{
    font: var(--fontBase);
    background: var(--bgBody);
    min-block-size: 100vh;
    margin: 0;
}
